/* Общие стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #444;
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Стили для tasks.html */
#tasks {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tasks ul {
    padding: 0;
    list-style-type: none;
}

#tasks ul li {
    margin-bottom: 10px;
}

/* Стили для donate.html */
#donate {
    margin: 20px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#donate ul {
    padding: 0;
    list-style-type: none;
}

#donate ul li {
    margin-bottom: 10px;
}

/* Стили для кнопки Donate via Beam Wallet */
#donate-button {
    display: block;
    background-color: #ffd700; /* Золотистый цвет */
    color: #fff; /* Цвет текста */
    text-decoration: none;
    padding: 12px 20px; /* Поля кнопки */
    text-align: center;
    border-radius: 5px; /* Скругление углов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень кнопки */
    background-image: linear-gradient(45deg, #ffd700, #ffaf00); /* Градиентный фон */
    transition: background-image 0.3s ease; /* Плавное изменение фона */

    /* При наведении изменяем градиент на более яркий */
    &:hover {
        background-image: linear-gradient(45deg, #ffaf00, #ffd700);
    }
}

/* Дополнительные стили */
#tasks ul {
    padding: 0;
    list-style-type: none;
    margin-top: 20px;
}

#tasks ul li {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

#tasks ul li:hover {
    transform: translateY(-5px);
}

#tasks ul li::before {
    content: '🔍'; /* Добавим иконку перед каждым заданием */
    margin-right: 10px;
}
